# Section 506.2.2 - Mixed-occupancy, one-story buildings
## Building Code
```
The allowable area of a mixed-occupancy building with no more than one story above grade plane shall be determined in accordance with the applicable provisions of Section 508.1 based on Equation 5-1 for each applicable occupancy. 
```

In [1]:
%run 506.2-Allowable-Area.ipynb

This section is considered: Passed

The allowable area of the building was determined in accordance with Section 506.2.4 as there is more than one occupancy in the multi-story building:

Story: 01
Occupancy: A-2
Occupancy: A-3
Occupancy: B
Occupancy: R-1

Story: 02
Occupancy: R-1

Story: 03
Occupancy: R-1

Story: 04
Occupancy: R-1

In [3]:
if storey_num.lstrip('0') == 1: 
    if num_unique_occupancies == 1: 
        result = "Not Applicable"
    else:
        result = "Applicable"
else: 
    result = "Not Applicable"
    
print(f"This section is considered: {result}"
      "\n\nThis section only applies if the building is single story and mixed occupancies. However, this building has:")

if storey_num.lstrip('0') == 1: 
    print(" One Story")
else: 
    print(" Multiple Stories")

print("\nSection 506.2.2.1 will not apply as it also only applies for single story mixed occupancy buildings")

This section is considered: Not Applicable

This section only applies if the building is single story and mixed occupancies. However, this building has:
 Multiple Stories

Section 506.2.2.1 will not apply as it also only applies for single story mixed occupancy buildings

# Section 506.2.2.1 - Group H-2 or H-3 mixed occupancies
## Building Code
`For a building containing Group H-2 or H-3 occupancies, the allowable area shall be determined in accordance with Section 508.4.2, with the sprinkler system increase applicable only to the portions of the building not classified as Group H-2 or H-3.`

In [15]:
# Initialize a set to collect unique occupancies
all_occupancies = set()

# Iterate through the story_dict to collect all occupancies
for occupancies in story_dict.values():
    all_occupancies.update(occupancies)

# Check for "H-1" and "H-2"
contains_h1_h2 = "H-1" in all_occupancies or "H-2" in all_occupancies

if result == "Not Applicable":
    result_H = "Not Applicable"
elif result == "Applicable":
    if contains_h1_h2: 
        result_H = "Applicable"
    else: 
        result_H = "Not Applicable"
        
print(f"This section is considered: {result_H}"
      "\n\nThis section only applies if the building is single story and mixed occupancies with H-2 or H-3 occupancies. However, this building has:")

if storey_num.lstrip('0') == 1: 
    print(" One Story")
else: 
    print(" Multiple Stories")
    
if contains_h1_h2: 
    print(" H-2 nor H-3 occupancies")
else: 
    print(" Neither H-2 nor H-3 occupancies")

This section is considered: Not Applicable

This section only applies if the building is single story and mixed occupancies with H-2 or H-3 occupancies. However, this building has:
 Multiple Stories
 Neither H-2 nor H-3 occupancies